body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  color: #444744;
  background-color: #EEEEEE;
}
.highlighted{
  color: #4895ef;
}
/* ---------------Hero Styling--------- */
.heroContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4.5rem 5rem;
}

.heroDescription > h2{
  font-size: 1.25rem;
  margin: 0rem;
  padding-left: 0.5rem;
}
.heroDescription > h3{
  font-size: 4.5rem;
}
.heroDescription > h3 >span{
  color: #4895ef;
}
.heroDescription> p{
  font-size: 1.25rem;
  font-weight: 400;
}
.heroDescription> button{
  background-color: #4895ef;
  width: 7rem;
  border: none;
}

.heroDescription> button:hover{
  background-color: #444744;
  
}
.heroDescription>.btn-one{
  margin-right: 2rem;
}
.img-frame > img{
  width: 90%;
  border-radius: 50%;
}
.img-frame{
  text-align: center;
}
.heroContainer> .outer-frame{
  border-radius: 50%;
  border: 1px solid black;
}
.heroPera{
  margin: 1.5rem 0rem;
}

/*-----------------About Me styling-------------------*/

.aboutContainer{
  margin: 5rem;
  padding: 4rem;
  font-size: 1.25rem;
  background-color: #d8dad8;
  border-radius: 3.5rem;
  }
.aboutContainer>h2,
.aboutContainer span,
.aboutContainer>p{
  background-color: #d8dad8;
}
.aboutContainer> h2{
  font-size: 3rem;
}
.aboutContainer>p{
  font-size: 1.25rem;
  font-weight: 400;
  margin: 1.5rem 0rem;
  padding-left: 2rem;
  border-left: 3.5px solid #4895ef;
}

/* -------------------Skills section style---------------- */
.skill-section{
  margin: 5rem;
}
.skill-section>h2{
  margin-bottom: 2rem;
  font-size: 3rem;
  padding-left: 0.5rem;
}
.skill-section>h2::after{
  content: "";               
  display: inline-block;     
  width: 10px;               
  height: 10px;               
  background-color: #4895ef;   
  border-radius: 50%;        
  margin-left: 8px; 
}
.skillsContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.skills{
  margin: 1.5rem 0rem;
  height: 18rem;
  width: 15rem;
  /* border: 1.5px solid #444744; */
  border-radius: 1rem;
  padding: 1rem;
  background-color: #d8dad8;
  box-shadow: 0px 4px 8px #444744;
}

.skills *{
  background-color: #d8dad8;
}
.skills h3{
  text-align: center;
}
.skill-list{
  list-style: none;
  font-size: 1.25rem;
}
.skill-list img{
  width: 1rem;
}
.skill-list li{
  padding: 0.25rem;
}
.slider-container{
  height: 10rem;
  width: 100%;
  border-radius: 1.25rem;
  overflow-x: hidden;
  white-space: nowrap;
  background-color: #d8dad8;
  /* border: 1px solid #444744; */
  display: flex;
  align-items: center;
  box-shadow: 4px 4px 8px #444744;
}
.slider-container img{
  width: 4rem;
  margin: 0rem 2rem;
  background-color: #d8dad8;
}

.slider-animation{
  white-space: nowrap;
  animation: slideRight 30s linear infinite ;
  animation-delay: 0ms;
  background-color: #d8dad8;
}

@keyframes slideRight{
  0%{
    transform: translateX(5%);
  }
  100%{
    transform: translateX(-100%);
  }
}

/*-------------projects styling---------*/
.projects-container{
  margin: 5rem;
}
.projects-container>h2{
  font-size: 2.5rem;
}

.projects-container>h2::after{
  content: "";               
  display: inline-block;     
  width: 10px;               
  height: 10px;               
  background-color: #4895ef;   
  border-radius: 50%;        
  margin-left: 8px; 
}

.project{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.project img{
  width: 40%;

}
.project .description{
  margin: 1rem;
  padding: 1rem
}
.description .btn-pro{
  background-color: #4895ef;
  margin-right: 0.5rem;
}
.description .btn-pro:hover{
  background-color: #444744;
}

/* ---------------- */

/*-----------------------------responsiveness---------------------------*/
@media (max-width: 768px) {
  /*--------hero section----------*/
  .heroContainer{
    display: flex;
    flex-direction: column;
    margin: 1.5rem 2rem;
  }
  
  .heroDescription> p{
    font-size: 1rem;
    font-weight: 400;
  }
  .heroDescription > h3{
    font-size: 3rem;
  }
  
  .img-frame > img{
    margin: 2rem 0rem ;
    width: 90%;
    border-radius: 50%;
  }
  .heroDescription>.btn-one{
    margin-right: 1rem;
  }

  /*------about me responsiveness------*/

  @media (max-width: 768px) {

    .aboutContainer{
      margin: 3rem 1.25rem;
      padding: 1.5rem 1rem;
      border-radius: 1.25rem;
    }
    .aboutContainer>h2{
      font-size: 2rem;
      
    }
    .aboutContainer>p{
      font-size: 1rem;
    }

    /*-------Skills responsiveness------*/

    .skill-section >h2{
      font-size: 2.5rem;
    }
    .skill-section{
      margin: 3rem 1.25rem;
    }
    .slider-container{
      height: 7.25rem;
    }
    .slider-container img{
      width: 3rem;
      margin: 0rem 2rem;
      background-color: #d8dad8;
    }
    .slider-container{
      margin-bottom: 2rem;
    }
    /*-------projects section------- */
    .projects-container{
      margin: 2.5rem 1rem;
    }

    .projects-container>h2{
      font-size: 2.5rem;
    }
    .project{
      flex-direction: column;
      padding-bottom: 2rem;
      border-bottom: 1px solid #444744;
    }
    .project>img{
      width: 85%;
    }
    .project .description{
      margin: 1rem 0rem;
      padding: 0.5rem 1rem;
    }
    .dropdown>.dropdown-menu{
      padding: 0px !important;
      background-color: #d8dad8 !important;
    }




  }

}
