body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  color: #444744;
  background-color: #EEEEEE;
}
.highlighted{
  color: #4895ef;
}
/* ---------------Hero Styling--------- */
.heroContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4.5rem 5rem;
}

.heroDescription > h2{
  font-size: 1.25rem;
  margin: 0rem;
  padding-left: 0.5rem;
}
.heroDescription > h3{
  font-size: 4.5rem;
}
.heroDescription > h3 >span{
  color: #4895ef;
}
.heroDescription> p{
  font-size: 1.25rem;
  font-weight: 400;
}
.heroDescription> button{
  background-color: #4895ef;
  width: 7.5rem;
  border: none;
}

.heroDescription> button:hover{
  background-color: #444744;
  
}
.heroDescription>.btn-one{
  margin-right: 2rem;
}
.img-frame > img{
  width: 90%;
  border-radius: 50%;
}
.img-frame{
  text-align: center;
}
.heroContainer> .outer-frame{
  border-radius: 50%;
  border: 1px solid black;
}
.heroPera{
  margin: 1.5rem 0rem;
}

/*-----------------About Me styling-------------------*/

.aboutContainer{
  margin: 5rem;
  
}
.aboutContainer> h2{
  font-size: 3rem;
}
.aboutContainer>p{
  font-size: 1.25rem;
  font-weight: 400;
  margin: 1.5rem 0rem;
  padding-left: 2rem;
  border-left: 3.5px solid #4895ef;
}


/*--------------------------responsiveness---------------------------*/
@media (max-width: 768px) {
  /*----------hero section------------*/
  .heroContainer{
    display: flex;
    flex-direction: column;
    margin: 1.5rem 2rem;
  }
  
  .heroDescription> p{
    font-size: 1rem;
    font-weight: 400;
  }
  .heroDescription > h3{
    font-size: 3rem;
  }
  .heroDescription> button{
    width: 7rem;
  }
  .img-frame > img{
    margin: 2rem 0rem ;
    width: 90%;
    border-radius: 50%;
  }
  .heroDescription>.btn-one{
    margin-right: 1rem;
  }

  /*------about me responsiveness------*/

  @media (max-width: 768px) {

    .aboutContainer{
      margin: 3rem 1.25rem;
    }
    .aboutContainer>h2{
      font-size: 2.25rem;
    }
    .aboutContainer>p{
      font-size: 1rem;
    }
  }


  
  }
